<div class="row">
  <div class="col-12">
    <p class="alert alert-info" role="alert">Selected {{listToDelete.length}} rows</p>
  </div>
  <div class="col-12 buttons-block"> <button class="btn  btn-primary btn-sm" (click)="delete(listToDelete)"
      [disabled]="!listToDelete?.length">Delete</button>
    <button class="btn  btn-primary btn-sm delete" (click)="downloadCSV({})"
      [disabled]="!listToDelete?.length">Download</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | slice:10*(page-1):10*page; let i = index">
          <td><input type="checkbox" id="email-{{user.id}}" [(ngModel)]="email[user.id]"
              (change)="addToList(user, user.id, $event)" /> </td>
          <td>{{user.id}}. <label for="email-{{user.id}}">{{user.email}}</label> </td>
          <td>
            <button class="btn btn-outline-danger  btn-sm" (click)="delete([user.id])">Delete</button>
            <button class="btn btn-outline-warning  btn-sm" [routerLink]="['/users', user.id]">Edit</button>
            <button class="btn btn-outline-primary  btn-sm" (click)="open(user)">Show</button>
          </td>
        </tr>
      </tbody>

    </table>

    <ngb-pagination [collectionSize]="users?.length" [(page)]="page" aria-label="Custom pagination">
      <ng-template ngbPaginationPrevious>Previous</ng-template>
      <ng-template ngbPaginationNext>Next</ng-template>
      <ng-template ngbPaginationNumber let-p>{{ p }}</ng-template>
    </ngb-pagination>
  </div>
</div>