.btn-primary.btn-sm.delete {
    margin-left: 10px;
}

.buttons-block{
    margin-bottom: 1rem;
}

table button {
    margin-right: 10px;
}
@media  (max-width: 500px) {
    table button {
        margin-bottom:5px;
    }
}

table td:last-child {
    text-align: right;
}
